# =============================================================================
#  Mediatheque - Base de demonstration MariaDB (projet 15 - Images)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=mediatheque
MARIADB_APP_USER=mediatheque_app
MARIADB_APP_PASSWORD=mediatheque_pwd
MARIADB_HOST_PORT=3320
