# =============================================================================
#  Themes - Base de demonstration MariaDB (projet 20 - FormBase / themes)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=themes
MARIADB_APP_USER=themes_app
MARIADB_APP_PASSWORD=themes_pwd
MARIADB_HOST_PORT=3325
