# =============================================================================
#  Traitements - Base de demonstration MariaDB (projet 13 - Asynchrone)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=traitements
MARIADB_APP_USER=traitements_app
MARIADB_APP_PASSWORD=traitements_pwd
MARIADB_HOST_PORT=3318
