# =============================================================================
#  Inventaire - Base de demonstration MariaDB (projet 24 - Controles II)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=inventaire
MARIADB_APP_USER=inventaire_app
MARIADB_APP_PASSWORD=inventaire_pwd
MARIADB_HOST_PORT=3329
