<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Ldap.Hote"                value="127.0.0.1" />
    <add key="Ldap.Port"                value="389" />
    <add key="Ldap.BaseDN"              value="dc=exemple,dc=test" />
    <add key="Ldap.OuUtilisateurs"      value="ou=users,dc=exemple,dc=test" />
    <add key="Ldap.GabaritDnUtilisateur" value="uid={0},ou=users,dc=exemple,dc=test" />
    <add key="Ldap.AdminDN"             value="cn=admin,dc=exemple,dc=test" />
    <add key="Ldap.AdminMotDePasse"     value="admin_pwd" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
</configuration>
