# =============================================================================
#  Deploiement - Base de demonstration MariaDB (projet 07 - Mise a jour)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=deploiement
MARIADB_APP_USER=deploiement_app
MARIADB_APP_PASSWORD=deploiement_pwd
MARIADB_HOST_PORT=3313
