# =============================================================================
#  Raccourcis - Base de demonstration MariaDB (projet 11 - Raccourcis clavier)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=raccourcis
MARIADB_APP_USER=raccourcis_app
MARIADB_APP_PASSWORD=raccourcis_pwd
MARIADB_HOST_PORT=3316
