# =============================================================================
#  Boutique - Base de demonstration MariaDB (projet 05 - Acces aux donnees)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=boutique
MARIADB_APP_USER=boutique_app
MARIADB_APP_PASSWORD=boutique_pwd
MARIADB_HOST_PORT=3311
