# =============================================================================
#  Annuaire - OpenLDAP de demonstration (projet 10 - Annuaire LDAP)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
LDAP_ORGANISATION=Exemple
LDAP_DOMAIN=exemple.test
LDAP_ADMIN_PASSWORD=admin_pwd
LDAP_HOST_PORT=389
