# =============================================================================
#  Bibliotheque - Base de demonstration MariaDB (projet 09 - PDF)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=bibliotheque
MARIADB_APP_USER=bibliotheque_app
MARIADB_APP_PASSWORD=bibliotheque_pwd
MARIADB_HOST_PORT=3315
