<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Bdd.Serveur"     value="127.0.0.1" />
    <add key="Bdd.Port"        value="3309" />
    <add key="Bdd.Base"        value="journal" />
    <add key="Bdd.Utilisateur" value="journal_app" />
    <add key="Bdd.MotDePasse"  value="journal_pwd" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
</configuration>
