# =============================================================================
#  Mesures - Base de demonstration MariaDB (projet 26 - Graphiques)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=mesures
MARIADB_APP_USER=mesures_app
MARIADB_APP_PASSWORD=mesures_pwd
MARIADB_HOST_PORT=3331
