# =============================================================================
#  Entrepot - Base de demonstration MariaDB (projet 04 - Export)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=entrepot
MARIADB_APP_USER=entrepot_app
MARIADB_APP_PASSWORD=entrepot_pwd
MARIADB_HOST_PORT=3310
