# =============================================================================
#  Metadonnees - Base de demonstration MariaDB (projet 18 - Reflexion)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=metadonnees
MARIADB_APP_USER=metadonnees_app
MARIADB_APP_PASSWORD=metadonnees_pwd
MARIADB_HOST_PORT=3323
