# =============================================================================
#  Demarrage - Base de demonstration MariaDB (projet 25 - Demarrage applicatif)
#  Copyright (c) 2026 Nicolas DEOUX <NDXDev@gmail.com> - Licence MIT.
#  Valeurs de DEMONSTRATION uniquement.
# =============================================================================
MARIADB_ROOT_PASSWORD=root_demo_pwd
MARIADB_DATABASE=demarrage
MARIADB_APP_USER=demarrage_app
MARIADB_APP_PASSWORD=demarrage_pwd
MARIADB_HOST_PORT=3330
